<nav>
    <div class="nav-wrapper teal accent-2">
        <span id="pageTitle">MY DASHBOARD</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="navLink" href="/dashboard">DASH</a></li>
            <li><a class="navLink" href="/logout">LOGOUT</a></li>
        </ul>
    </div>
</nav>