<nav>
    <!-- <div class="nav-wrapper teal accent-2"> -->
        <div class="nav-wrapper lightGreen">
        <span id="pageTitle"><%=title%></span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="navLink" href="/dashboard"><img src="/images/dash.png" height="40px" alt="dashboard"></a></li>
            <li><a class="navLink" href="/logout"><img src="/images/logout.png" height="40px" alt="logout"></a></li>
        </ul>
    </div>
</nav>