<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICNIC</title>
    <link rel="stylesheet" href="/stylesheets/landingStyle.css">
</head>
<body>
    <div id="landingImgDiv"> <img src="/images/picnicLanding.png" alt=""></div>
  
<div id="lpForm">
    <form action="/auth/google">
        <button id="getStarted">GET STARTED</button>
    </form>
</div>
</body>
</html>