
table {
    table-layout: fixed;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
  }


  #groupTable {
    table-layout: fixed;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    padding: 0.3em;

  }

td {
    padding: 1em;
    text-align: center;
}

th {
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}

.tableTitle {
      padding: 2rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;

  }

  .groupTableTitle{
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    align-items: center;
}